<div class="container">
  <h4 class="bold p-t-b-10">WHO WE ARE</h4>
<p>CMCA qualified team which strives to keep up with the latest in
  Home Owners Association Management to provide excellent services.
  A team with Global knowledge and Local expertise gets you value for your money.
  We strongly believe that well managed communities give way for Happy and Comfortable Living.</p>
<p>
  We undertake all tasks that are necessary for smooth operation of Home Owners Association.
</p>
  <ul>
    <li>Compile all information and provide tools for Meetings and Elections.</li>
    <li>Managing Assessments.</li>
    <li>Managing Bids and Contracts.</li>
    <li>Book Keeping.</li>
    <li>Budgets and Replacement Reserves.</li>
    <li>Preparation of Financial Statements and coordinate Audits.</li>
    <li>Risk Management and Insurance.</li>
    <li>Facilities Management through vendors.</li>
  </ul>
</div>
