.modal-title {
  font-size: 1.15rem !important;
  font-weight: 500 !important;
}

.modal-header {
  padding: 15px 15px 0;
  margin: 0;
}

.close {
  line-height: 0;
  font-size: 25px;
  vertical-align: text-top;
}

.modal-body {
  font-size: 15px;
  position: static;
}

.modal-footer {
  justify-content: flex-start;
}

.submit-btn {
  background-color: var(--secondary-font-color);
  color: var(--white);
  margin-bottom: 15px;
}

.cancel-btn {
  background-color: var(--dark-gray);
  color: var(--white);
  margin-bottom: 15px;
}

